* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #CDCECF;
    overflow-x: hidden;
}

header {
    height: 77px;
    background-color: #CDCECF;

    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 4px solid rgba(25, 27, 29, 0.5);
}


header button {
    color: #2F303A;
    font-size: 20px;
    font-family: "Arial Black", serif;
    background-color: transparent;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    transition: ease 0.5s;
}


header button:hover {
    cursor: pointer;
    color: rgba(25, 27, 29, 0.5);
    transform: scale(1.2);
}


.title_reaction {
    width: 400px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    margin: 20px 100px 20px 100px;
    border: 3px solid #9f9fa2;
}

.title_reaction h1 {
    color: #2F303A;
    font-size: 20px;
    font-family: "Arial Black", serif;
    text-decoration: underline;
}


.reaction_container {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin: 0 auto;
}

.reaction {
    display: flex;
    width: 400px;
    height: 230px;
    background-color: #bbbcbe;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 20%);
    padding: 10px;
    flex-direction: column;
    margin: 20px;
}
.reactionHeader {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    align-items: center;
    background-color: #9f9fa2;
    border-radius: 10px;
}
.info {
    justify-content: center;
    padding: 10px;
    width: 310px;
}
.info h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    color: #2c2d2f;
    font-family: "Arial Black", sans-serif;
    padding-bottom: 5px;
}

.reactionAuthor {
    width: fit-content;
    max-width: 230px;
    align-items: center;
    padding: 3px 10px 3px 3px;
    border-radius: 30px;
    background-color: #8c8c8e;
}

.reactionAuthor span {
    margin-left: 5px;
    color: #2c2d2f;
    font-family: Poppins, sans-serif;
}

.reactionImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
    cursor: pointer;
}
.reactionImg img {
    width: 100%;
    height: 100%;
}

.reactionComment {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 5px;
    height: 370px;
    overflow-y: auto;
    color: #2c2d2f;
    border: 1px solid rgba(25, 27, 29, 0.5);
    border-radius: 5px;
    background-color: #9f9fa2;
    font-family: Arial, sans-serif;
    text-align: center;
}
.reactionDate {
    display: flex;
    position: relative;
}
.reactionDate span {
    font-weight: bolder;
    border-radius: 5px;
    padding: 3px 6px;
    background-color: #9f9fa2;
    cursor: pointer;
    margin-top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 50px;
    color: #2c2d2f;
    font-family: "Poppins", sans-serif;
}
.reactionInfoButton {
    background-color: #bbbcbe;
    padding: 5px 15px;
    border: 3px solid #9f9fa2;
    border-radius: 30px;
    transition: ease-in-out .2s;
    color: #2c2d2f;
    position: absolute;
    right: 0;
    top: 8px;
    font-family: "Poppins", sans-serif;
}

.reactionInfoButton:hover {
    cursor: pointer;
    border: 3px solid #8c8c8e;
}


footer {
    background-color: #1a1b1d;
}

.footer {
    margin-top: 150px;
    height: 373px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.text {
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}


.contact h1 {
    color: white;
    font-size: 35px;
    font-family: "Arial Black", serif;
    text-decoration: underline;
}

.contact p {
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
