* {
    padding: 0;
    margin: 0
}

body,header {
    background-color: #454545
}

body {
    overflow-x: hidden
}

header {
    height: 77px;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid #2c2c2c
}

.contact h1,.title_reaction h1,header button {
    color: #fff;
    font-size: 20px;
    font-family: "Arial Black",serif
}

header button {
    background-color: transparent;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    transition: ease .5s
}

header button:hover {
    cursor: pointer;
    color: rgba(255,255,255,.5);
    transform: scale(1.2)
}

.title_reaction {
    width: 400px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    margin: 20px 100px;
    border: 3px solid #2c2c2c
}

.contact h1,.title_reaction h1 {
    text-decoration: underline
}

.reaction_container {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin: 0 auto
}

.reaction {
    display: flex;
    width: 400px;
    height: 230px;
    background-color: #373737;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0/20%);
    padding: 10px;
    flex-direction: column;
    margin: 20px
}

.reactionHeader {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    align-items: center;
    background-color: #2f2f2f;
    border-radius: 10px
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 310px
}

.info h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    color: #fff;
    font-family: "Arial Black",sans-serif;
    padding-bottom: 5px
}

.reactionAuthor,.reactionImg {
    display: flex;
    align-items: center;
    cursor: pointer
}

.reactionAuthor {
    width: fit-content;
    max-width: 230px;
    flex-direction: row;
    padding: 3px 10px 3px 3px;
    border-radius: 30px;
    background-color: #262728
}

.reactionAuthor span {
    margin-left: 5px;
    color: #fff;
    font-family: Poppins,sans-serif
}

.reactionImg {
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff
}

.reactionImg img {
    width: 100%;
    height: 100%
}

.reactionComment {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 5px;
    height: 370px;
    overflow-y: auto;
    color: #fff;
    border: 1px solid rgba(25,27,29,.5);
    border-radius: 5px;
    background-color: #2f2f2f;
    font-family: Arial,sans-serif;
    text-align: center
}

.reactionDate {
    display: flex;
    position: relative
}

.reactionDate span,.reactionInfoButton {
    color: #fff;
    font-family: "Poppins",sans-serif
}

.reactionDate span {
    font-weight: bolder;
    border-radius: 5px;
    padding: 3px 6px;
    background-color: #2c2d2f;
    cursor: pointer;
    margin-top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 50px
}

.reactionInfoButton {
    background-color: transparent;
    padding: 5px 15px;
    border: 3px solid #2c2d2f;
    border-radius: 30px;
    transition: ease-in-out .2s;
    position: absolute;
    right: 0;
    top: 8px
}

.reactionInfoButton:hover {
    cursor: pointer;
    border: 3px solid #1e1e20
}

footer {
    background-color: #373737
}

.footer {
    margin-top: 150px;
    height: 373px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center
}

.contact p,.text {
    color: #fff;
    font-size: 16px;
    font-family: "Poppins",sans-serif
}

.contact h1 {
    font-size: 35px
}