p {
    font-family: "Poppins", sans-serif;
    color: #1a1b1d;
    font-size: 20px;
    text-align: center;

}

.title {
    color: #2F303A;
    font-size: 25px;
    text-align: center;
    font-family: "Arial Black", serif;
    text-decoration: underline;
}

h2 {
    font-size: 20px;
    font-family: "Arial Black", serif;
    color: #1a1b1d;
    text-align: center;
}

.center {
    margin: auto;
    width: 80%;
    border: 4px solid rgba(25,27,29,0.5);
    border-radius: 30px;
    padding: 10px;
}

ul {
    font-family: "Poppins", sans-serif;
    color: #1a1b1d;
    font-size: 20px;
}