body {
    background-color: #454545;
    overflow-x: hidden;
}













.text {
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

header {
    height: 77px;
    background-color: #454545;

    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid #2c2c2c;
}


header button {
    color: white;
    font-size: 20px;
    font-family: "Arial Black", serif;
    background-color: transparent;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    transition: ease 0.5s;
}




header button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    transform: scale(1.2);
}

@keyframes hoverButton {
    0% {
        box-shadow: 3px 3px 3px 3px rgba(0,0,0, .4);
    }
}


.presentation h1 a {
    color: #5F8FC8;
    text-decoration: underline;
}

.information {
    width: 893px;
    height: 277px;
    background-color: #373737;
    border-radius: 30px;
    margin: 50px auto auto;
    text-align: center;
    transition: ease .5s;
    box-shadow:  0 10px 15px -3px rgb(0 0 0 / 20%);
}


.information p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: white;
    padding: 95px;
}

.dangers {
    text-align: center;
}














.hoverWord {
    display: grid;
    grid: 100% / repeat(23, 1fr);
    margin: 100px auto auto auto;
    width: 50%;
    padding: 10px;
    justify-content: center;
}

.hover{
    position: relative;
    display: grid;
    place-items: center;
    bottom: 50%;

}
.space {
    margin-right: 30px;
}

.hover h1 {
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-size: 5vw;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
    font-family: "Arial Black", serif;
}

.hover:hover h1 {
    transform: scale(1.5);
    color: #fff;
    -webkit-text-stroke: 2px transparent;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}












.dangers .show_more {
    margin-top: 40px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Arial Black", serif;
    background-color: #373737;
    width: 300px;
    height: 53px;
    border: 0;
    border-radius: 30px;
}
.dangers .show_more:hover {
    cursor: pointer;
    border: 3px solid #2c2c2c;
}

.danger .show {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: "Arial Black", serif;
    background-color: #454545;
    width: 150px;
    height: 53px;
    border: 3px solid #373737;
    border-radius: 30px;
}
.danger .show:hover {
    cursor: pointer;
    border: 5px solid #2c2c2c;
}
.danger h2 {
    color: white;
    font-size: 25px;
    padding-top: 50px;
    font-family: "Poppins", sans-serif;
    text-decoration: underline;
}

.danger img {
    width: 125px;
    height: 125px;
}
.danger {
    width: 350px;
    height: 271px;
    background-color: #373737;
    border-radius: 30px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 20%);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.danger:hover {
    background-color: #2f2f2f;
    transform: scale(1.02);
}

.dangers_title {
    font-size: 38px;
    font-family: "Arial Black", serif;
    color: white;
    text-align: center;
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: 50px;
}

.dangers_container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 50px;
    width: fit-content;
    margin: 0 auto;
}

.popup:target {
    visibility: visible;
}


footer {
    background-color: #373737;
}

.footer {
    margin-top: 150px;
    height: 373px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}



.contact h1 {
    color: white;
    font-size: 35px;
    font-family: "Arial Black", serif;
    text-decoration: underline;
}

.contact p {
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}






@media (max-width: 600px) {
    header {
        position: static;
        flex-direction: column;
        height: 150px;
        padding: 10px;
    }
}
@media (max-width: 600px) {
    header button {
        margin: 3px;
    }
}
@media (max-width: 893px) {
    .information {
        width: auto;
        height: auto;
    }
}

@media (max-width: 893px) {
    .dangers_container {
        grid-template-columns: 2fr;
    }
}