body {
    background-color: #454545;
    overflow-x: hidden;
}

header {
    height: 77px;
    background-color: #454545;

    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid #2c2c2c;
}


header button {
    color: white;
    font-size: 20px;
    font-family: "Arial Black", serif;
    background-color: transparent;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    transition: ease 0.5s;
}


header button:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.5);
    transform: scale(1.2);
}


.title_faq {
    width: 400px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    margin: 20px 100px 20px 100px;
    border: 3px solid #2c2c2c;
}

.title_faq h1 {
    color: white;
    font-size: 20px;
    font-family: "Arial Black", serif;
    text-decoration: underline;
}


.faq_container {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    margin: 0 auto;
}

.faq {
    width: 80%;
    height: auto;
    background-color: #373737;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 20%);
    margin: auto;
    border-radius: 30px;
    text-align: center;
}

.faq h1 {
    color: white;
    font-size: 25px;
    font-family: "Arial Black", serif;
    text-decoration: underline;
}

.faq p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: white;
}



footer {
    background-color: #373737;
}

.footer {
    margin-top: 150px;
    height: 373px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.text {
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}


.contact h1 {
    color: white;
    font-size: 35px;
    font-family: "Arial Black", serif;
    text-decoration: underline;
}

.contact p {
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
